{% extends "layout.html" %}
{% block content %}
<br>
<div class="container mt-4 p-4 border rounded shadow-sm" style="background-color: white;">
<header>
    <h1>เกี่ยวกับเรา</h1>
</header>
<section>
    <p>ยินดีต้อนรับสู่เว็บไซต์ของเรา! เราเป็นแพลตฟอร์มที่มุ่งมั่นในการจัดการข้อมูลพรรณไม้ ช่วยให้ผู้ใช้งานสามารถค้นหาข้อมูลเกี่ยวกับพืชต่างๆ </p>
  <li>ผู้จัดทำ นายลัทธพล ศิริหล้า 66309010011 ปวส.2/1 </li>
    <li><a href="https://www.facebook.com/pob.ratapon/"><i class="bi bi-facebook"></i> Ratapon Pob</a></li>
    <li><a href="https://www.instagram.com/pobpopepobpob_/"><i class="bi bi-instagram"></i> pobpopepobpob_</a></li>
    <li><a href=""><i class="bi bi-search"></i> วิทยาลัยเทคนิคเลย</a></li>
    <h2>พันธกิจของเรา</h2>
    <p>พันธกิจของเราคือการให้ความรู้เกี่ยวกับพรรณไม้หลากหลายชนิด รวมถึงการส่งเสริมการอนุรักษ์ธรรมชาติและความหลากหลายทางชีวภาพ เรามุ่งเน้นการให้ข้อมูลที่ถูกต้องและเป็นประโยชน์เพื่อให้ทุกคนได้เข้าถึงและใช้งานได้ง่าย</p>
    
    <h2>บริการของเรา</h2>
    <ul>
        <li>ข้อมูลพรรณไม้หลากหลายชนิด ทั้งชื่อวิทยาศาสตร์ ลักษณะทั่วไป และถิ่นที่อยู่</li>
        <li>การอัปโหลดข้อมูลพืชใหม่และการจัดการข้อมูลอย่างมีประสิทธิภาพ</li>
        <li>ระบบค้นหาที่ช่วยให้คุณเข้าถึงข้อมูลพรรณไม้ที่คุณต้องการได้ง่ายดาย</li>
    </ul>
    
    <h2>ติดต่อเรา</h2>
    <p>หากคุณมีคำถามหรือข้อเสนอแนะ สามารถติดต่อเราได้ทางอีเมลที่ <a href="">66309010011@loeitech.ac.th</a></p>
</section>
</div>
{% endblock %}
