{% extends "layout.html" %}
{% block title %}ติดต่อเรา-เว็ปไซต์สวนพฤษศาสตร์{% endblock %}
{% block content %}
<div class="container mt-4 p-4 border rounded shadow-sm" style="background-color: white;">
<header>
    <h1>ติดต่อเรา</h1>
</header>

<section>
    <p>เรายินดีที่จะได้ยินจากคุณ! กรุณากรอกแบบฟอร์มด้านล่างเพื่อติดต่อเรา หรือส่งอีเมลมาที่ <a href="66309010011@loeitech.ac.th">66309010011@loeitech.ac.th</a></p>
   <li> วิทยาลัยเทคนิคเลย : 272 ถ.เจริญรัฐ ต.กุดป่อง อ.เมือง จ.เลย 42000 </li>
    <li>โทรศัพท์ : 0-4281-1591 </li>
   <li> Email Address : loei@loeitech.mail.go.th </li>
    <li> Facebook : <a href="https://www.facebook.com/www.loeitech.ac.th/ ">https://www.facebook.com/www.loeitech.ac.th/ </a> </li>
    <div class="d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='bg/image.png') }}" alt="LTC" class="img-fluid" />
    </div>
    <div class="text-center ">
    สีประจำวิทยาลัย          สีเขียว – ขาว
</div>
<div class="text-center ">
    สีเขียว    มาจาก    สีเหลืองกับสีน้ำเงินผสมกัน
</div>
<div class="text-center ">
    สีเหลือง  หมายถึง  ความสว่าง ปัญญา
</div>
<div class="text-center ">
    สีน้ำเงิน  หมายถึง   ความสูงศักดิ์ (Noble Rank)
</div>
<div class="text-center ">
    สีขาว     หมายถึง   ความซื่อสัตย์ บริสุทธิ์
</div>
<div class="text-center ">
ดังนั้น  สีเขียว – ขาว จึงหมายความว่า</div>
<div class="text-center ">
     “สถาบันสร้างสมปัญญา เกียรติศักดิ์ ความซื่อสัตย์แห่งตน และวิชาชีพ”
    </div>

</section>
</div>
{% endblock %}
