{% extends "layout.html" %}
{% block title %} รายละเอียดพรรณไม้ {{ plant.local_name }} -เว็ปสวนพฤษศาสตร์{% endblock %}
{% block content %}
<div class="container mt-4 p-4 border rounded shadow-sm" style="background-color: white;">

<h2>รายละเอียดพรรณไม้</h2>

<!-- แสดงข้อมูลพรรณไม้ -->
<p><strong>ชื่อท้องถิ่น:</strong> {{ plant.local_name }}</p>
<p><strong>ชื่อวิทยาศาสตร์:</strong> {{ plant.scientific_name }}</p>
<p><strong>ชื่อวงศ์:</strong> {{ plant.family }}</p>
<p><strong>ลักษณะวิสัย:</strong> {{ plant.habit }}</p>
<p><strong>ลักษณะเด่น:</strong> {{ plant.characteristics }}</p>
<p><strong>บริเวณที่พบ:</strong> {{ plant.location.location_name }}</p>

<!-- แสดงภาพของพรรณไม้ (ถ้ามี) -->
{% if plant.image_url %}
    <img src="{{ url_for('static', filename=plant.image_url) }}" alt="{{ plant.local_name }}" class="img-fluid border border-secondary rounded" style="max-width: 300px; max-height: 200px;">
{% else %}
    <p>ไม่มีรูปภาพ</p>
{% endif %}
<div>
<!-- ปุ่ม "ไปต่อไป" -->
<a href="{{ url_for('show_plants_in_location', location_id=plant.location.id) }}" class="btn btn-warning mt-3"><i class="bi bi-backspace"></i> กลับไปยังพื้นที่พรรณไม้</a>
<a href="{{ url_for('index') }}" class="btn btn-danger mt-3"><i class="bi bi-backspace-fill"></i> กลับไปยังรายการพรรณไม้ทั้งหมด</a>
</div>
</div>
{% endblock %}
